{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroUserBundle::macros.html.twig' as USER %}
<div class="widget-content">
    <div class="row-fluid">
        <div class="responsive-block">
            {% if entity.accountManager  %}
                {{ UI.renderHtmlProperty('ehdev.festivalbasics.festivalaccount.accountmanager.label'|trans, USER.render_user_name(entity.accountManager)) }}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        {% set dialogTitle = 'ehdev.festivalbasics.festivalaccount.widget.festivals.add_festival'|trans %}
        {{ UI.clientButton({
            'dataUrl': path('ehdev_festival_festival_account_add_festival', {'id': entity.id}),
            'aCss': 'no-hash',
            'iCss': 'fa-plus',
            'dataId': null,
            'title' : dialogTitle,
            'label' : dialogTitle,
            'widget' : {
                'type' : 'dialog',
                'multiple' : false,
                'options' : {
                    'stateEnabled': false,
                    'dialogOptions' : {
                        'title' : dialogTitle,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 500
                    }
                }
            }
        })
        }}

        <div>
            {% set tabs = [] %}
            {% for festival in entity.festivals %}
                {% set tabs = tabs|merge([
                    {
                        'alias': 'festival-account-festivals-widget-festival-info-' ~ festival.id,
                        'widgetType': 'block',
                        'label': festival.name,
                        'url': path('ehdev_festival_festival_widget_info', {'id': festival.id})
                    }
                ]) %}
            {% endfor %}

            {% if (tabs|length == 0) %}
                <div class="no-data">
                    {{ 'ehdev.festivalbasics.festivalaccount.widget.festivals.no_data_found'|trans }}
                </div>
            {% else %}
                {% if not isMobileVersion() %}
                    {% set tabsOptions = {
                        verticalTabs: true,
                        useDropdown: false
                    }%}
                {% endif %}
                {{ tabPanel(tabs, tabsOptions|default({})) }}
            {% endif %}
        </div>
        <hr>
    </div>
</div>
